<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="baseUrl" value="http://localhost:18111"/>
    <add key="username" value="admin2@test.test" />
    <add key="password" value="admin@2" />
    <add key="grant_type" value="password" />
    <add key="scope" value="openid" />
    <add key="client_id" value="testApp" />
    <add key="client_secret" value="secret" />
  </appSettings>
</configuration>